
/*type scale generator*/
html {font-size: 16px;}

body {
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

/* bellota-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bellota Text';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bellota-text-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/manrope-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
              
/*general styles*/
h1, h2, h3 {
  font-family: "Bellota Text", sans-serif;
}

body, p, a, li, label {
  font-family: "Manrope", sans-serif;
}

body {
  margin:0;
  background-color:rgb(189, 208, 227);
}

/*nav menu styles*/
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 32, 62);
  width: 100%;
  height: 100px;
  box-shadow: gray 0px 4px 6px -1px;
}

.nav-title {
   color: rgb(255, 255, 255);
   display: flex;
   margin-top: 25px;
}

.nav-title:hover{
  color:rgba(118, 118, 118, 0.503)
}

.nav-links {
  display: flex;
  gap: 32px;
  padding-right: 10px;
}

.nav-links a:hover {
  background-color: rgba(118, 118, 118, 0.503);
}

.nav-menu a {
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

/*hero styles*/
.hero {
  background-image: url("img/students.png");
  background-size: cover;
  height: 725px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  text-align: center;
}

.hero .hero-content {
  max-width: 1000px;
  padding: 24px;
}

.hero-title {
  font-size: 65px;
  margin: 0 0 8px;
  color: #ffffff;
  text-shadow: #000000 0px 0px 5px;
}

.hero-sub {
  margin: 0 0 16px;
  color: rgb(0, 32, 62);
  font-size: 19px;
  font-weight: bold;
  text-shadow: #000000 2px 2px 2px 2px;
}

.hero-cta {
  background:rgb(0,32,62);
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: black 0px 0px 5px;
  color: #ffffff;
}

.hero-cta:hover{
  opacity: 50%;
}

/*index page styles*/
.index-intro{
  text-align: center;
  width: 70%;
  margin: auto;
  padding-bottom: 60px;
  padding-top:10px;
  font-size: 19px;
}

.ex:hover {
  border: 3px solid rgb(0, 32, 62);
}

.safety {
  color: #ffffff;
  background-color: rgb(0, 32, 62);
  box-shadow: gray 0px 2px 4px 1px;
  text-align:center;
  margin: auto;
  font-weight: bold;
  padding: 10px;
}

.end {
  color: rgb(0, 32, 62);
  box-shadow: gray 0px 2px 4px 1px;
  text-align:center;
  margin: 40px auto;
  padding: 10px;
  width:55%;
}


/*contact page styles*/
.con-tit{
  text-align: center;
  margin: 5px auto 30px auto;
  text-shadow: rgb(255, 255, 255) 2px 2px 4px;
  background-image: linear-gradient(to bottom, rgb(167, 189, 210), rgb(235, 245, 255));
  padding-bottom: 400px;
  padding-top: 20px;
  color: rgb(0, 32, 62);
}

.forms {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -380px;
  color: rgb(0, 32, 62);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  border: 3px solid rgb(0, 32, 62);
  border-radius: 4px;
  background-color: #f9f9f9;
  padding-left: 20px;
  box-shadow: gray 0px 2px 4px 1px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  color: rgb(0, 32, 62);
}

.submit{
  background-color: rgb(0, 32, 62);
  color: white;
  padding: 10px 20px;
  width: 65%;
 
}

.submit:hover{
  background-color: rgba(118, 118, 118, 0.503);
}

.three {
  width: 35%;
  margin-top: 50px;
  display: block;
  margin: 20px auto;
  border-radius: 70px;
  box-shadow: rgb(0, 32, 62) 0px 4px 6px -1px;
}



/*fitness page styles*/
.fit-title{
  text-align: center;
  margin-top: 20px;
  text-shadow: rgb(255, 255, 255) 2px 2px 4px;
  color: rgb(0, 32, 62);
}

.fit-intro{
  width: 70%;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 19px;
  color: rgb(0, 32, 62);
}

.fit-img{
  width: 100%;
  transform: scale(.5);
  margin: -230px auto -200px auto;
  box-shadow: rgb(0, 0, 0) 1px 5px 10px -1px;
  height: 60%;
}

.ex {
  width:50%;
  margin: 0 auto 20px auto;
}

.ex-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  margin-bottom: 80px;
  color: rgb(0, 32, 62);
}

.cards{
  width: 60%;
  margin: 0 auto 40px auto;
  box-shadow: rgb(0, 32, 62) 0px 4px 6px -1px;
  background-color: white;
}

.fit-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-image: linear-gradient(to bottom, rgb(167, 189, 210), rgb(215, 231, 246));
  text-align: center;
  margin-bottom: 70px;
  padding-top: 70px;
  padding-bottom: 40px;
}

.fit-grid-tit{
  text-align: center;
  margin-bottom: -25px;
  text-shadow: rgb(255, 255, 255) 2px 2px 4px;
  color: rgb(0, 32, 62);
}

.hacks-dis{
  width:50%;
  margin: 0 auto 20px auto;
  color: rgb(0, 32, 62);
}

.quiz {
  color:#ffffff;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px;
  border-radius: 4px;
  background-color: rgb(0, 32, 62);
  margin: 15px auto;
  box-shadow: rgb(0, 32, 62) 0px 4px 6px -1px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
  margin-top: 20px;
}

.submit-fitness{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 32, 62);
  padding: 10px 20px;
  width: 30%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.submit-fitness:hover{
  background-color: rgba(118, 118, 118, 0.503);
}

.tips-tit{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(0, 32, 62);
}

.tips ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: left;
  color: rgb(0, 32, 62);
}


/*nutrition page styles*/
.nu-title{
  margin-top: 20px;
  text-shadow: rgb(255, 255, 255) 2px 2px 4px;
  width: 120%;
  color: rgb(0, 32, 62);
}

.nu-intro{
  font-size: 19px;
  color: rgb(0, 32, 62);
}

.week-tit{
  text-transform: uppercase;
  margin-bottom: -5px;
}

.week-intro {
  background-color: rgb(0, 32, 62);
  color: #ffffff;
  padding:10px
}

.weekly{
  background-color: #ffffff;
  box-shadow: rgb(0, 32, 62) 0px 4px 6px -1px;
  padding: 10px;
  border: rgb(0,32,62) solid 4px;
  flex: 1 1 60%;
  min-width: 240px;
  margin: 10px;
  color: rgb(0, 32, 62);
}

.weekly-row {
  display: flex;
  align-items: flex-start;
  gap: 150px;
  max-width: 1100px;
  margin: 0 auto 40px auto;
  padding: 0 16px;
  color: rgb(0, 32, 62);
}

.recipe li {
  margin-bottom: -5px;
}

.nu {
  max-width: 420px;
  color: rgb(0, 32, 62);
}

.hydrate {
  background-image: linear-gradient(to bottom, rgb(167, 189, 210), rgb(215, 231, 246));
  padding: 10px;
  padding-bottom: 60px;
  margin:0 5px 0 10px;
  text-align: center;
  color: rgb(0, 32, 62);
}

.hy-text {
  width: 50%;
  margin:auto;
  color: rgb(0, 32, 62);
}

.groups-intro {
  text-align: center;
}

.groups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 32px auto;
  padding: 20px;
  text-align: center;
  color: rgb(0, 32, 62);
  background-color: #ffffff;
}

.grid-item-bold {
  font-weight: bold;
  text-transform: uppercase;
  border: rgb(0, 32, 62) solid 2px;
  padding: 20px;
}

.grid-item {
  padding: 20px;
  border: rgb(0, 32, 62) solid 2px;
}

.food{
  width: 55%;
  display: block;
  margin: 0 auto 20px;
}

.ideas {
  text-align: center;
  color: rgb(0, 32, 62);
}

.ideas ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: left;
  color: rgb(0, 32, 62);
  padding-bottom: 50px;
}

.dis {
  color:rgb(0, 32, 62);
  margin: auto;
  text-align: center;
  width: 50%;
  padding-bottom: 40px;
}

/*wellness page*/
.well-tit{
  margin-top: 20px;
  text-shadow: rgb(255, 255, 255) 2px 2px 4px;
  color: rgb(0, 32, 62);
  text-align: center;
}

.well-intro {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 19px;
}

.brain{
  display: block;
  margin: 0 auto 20px;
  width: 60%;
}

.common {
  text-align: center;
  color: rgb(0, 32, 62);
}

.common ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: left;
  color: rgb(0, 32, 62);
  padding-bottom: 30px;
}

.res{
  background-color: rgb(0, 32, 62);
  color: #ffffff;
  width: 700px;
  padding:15px;
  margin: 10px auto 10px auto;
  box-shadow: rgb(0, 32, 62) 0px 4px 6px -1px;
}

.well-note {
  color: rgb(0, 32, 62);
  text-align: center;
  width: 60%;
  margin: 20px auto 40px auto;
}


/*resources sttyles*/
.research {
  text-align: center;
  color: rgb(0, 32, 62);
  margin-bottom: 90px;
}

.r-title {
  text-shadow: rgb(255, 255, 255) 2px 2px 4px;
}

.source {
  color: rgb(0, 32, 62);
}

.source:hover {
  color: gray;
}

/*footer styles*/
.footer {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: rgb(0, 32, 62);
  align-items: center;
  height: fit-content;
  width: 100%;
}

.footer-text{
  display: flex;
  gap: 50px;
}

.footer a {
  color: #ffffff;
}

.social{
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon:hover {
  border: rgb(209, 209, 209) 2px solid;
}